{% extends 'base.html' %} {% block title %} Sign Up {% endblock %}

{% block body %}

<h1 class="fw-bold p-5" style="font-size: 5rem;color: rgb(72, 199, 46);" align="center">EcoGes</h1>

<div class="vh-50 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="border border-3 border-success" style="border-radius: 1rem;">
                    <div class="card bg-light">
                        <div class="card-body p-5">
                            <form class="mb-3 mt-md-4" action="{{ url_for('sign_up') }}" method="POST">
                                <h2 class="fs-1 fw-bold mb-5" align="center">Register</h2>

                                <!-- Sign up error messages -->
                                {% include 'flash_messages.html' %}
                                <div class="mb-3">
                                    <label for="username" class="form-label fs-5">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="username">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label fs-5">Email Address</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="name@email.com">
                                </div>
                                <div class="mb-3">
                                    <label for="password1" class="form-label fs-5">Password</label>
                                    <input type="password" class="form-control" id="password1" name="password1" placeholder="*******">
                                </div>

                                <div class="mb-3">
                                    <label for="password2" class="form-label fs-5">Confirm Password</label>
                                    <input type="password" class="form-control" id="password2" name="password2" placeholder="*******">
                                </div>

                                <div class="mb-3">
                                    <label for="bank_account_id" class="form-label fs-5">Associate a Bank Account</label>
                                    <input type="text" class="form-control" id="bank_account_id" name="bank_account_id" placeholder="">
                                </div>

                                <div class="mb-3">
                                    <label for="phone_number" class="form-label fs-5">Phone Number</label>
                                    <input type="tel" class="form-control" id="phone_number" name="phone_number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}">
                                </div>

                                <button class="btn btn-success btn-lg btn-block" type="submit">Sign Up</button>
                            </form>

                            <div>
                                <p class="mb-0 text-center">Already having an account? 
                                    <a href="{{ url_for('login') }}"class="text-success fw-bold">Sign In</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}